{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
{% include 'header.html' %}
<main class="container mx-auto py-6">
    <h1 class="text-3xl font-bold mb-4">{{ project.title }}</h1>

    {% if project.image1 %}
    <img src="{{ project.image1.url }}" alt="{{ project.title }}" class="w-full mb-4">
    {% endif %}

    <p class="mb-4">{{ project.description }}</p>
    <p class="mb-4 font-semibold">Rok realizacji: {{ project.year_of_completion }}</p>

    {% if project.tags.all %}
    <div class="mb-4">
        <h2 class="text-xl font-bold mb-2">Tagi:</h2>
        <ul class="flex space-x-2">
            {% for tag in project.tags.all %}
            <li class="bg-gray-200 px-2 py-1 rounded">{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="grid grid-cols-2 gap-4">
        {% if project.image1 %}
        <img src="{{ project.image1.url }}" alt="Zdjęcie 1">
        {% endif %}
        {% if project.image2 %}
        <img src="{{ project.image2.url }}" alt="Zdjęcie 2">
        {% endif %}
        {% if project.image3 %}
        <img src="{{ project.image3.url }}" alt="Zdjęcie 3">
        {% endif %}
        {% if project.image4 %}
        <img src="{{ project.image4.url }}" alt="Zdjęcie 4">
        {% endif %}
    </div>
</main>
{% endblock %}