{% load static %}
<footer class="mt-auto mb-6">
    <div class="flex justify-between items-start gap-4 mt-8 text-gray-600 text-[0.65rem]">
        <div class="flex gap-2 items-center">
            <span>regulamin</span>
            <img src="{% static 'bbi_app/images/footer_separator.svg' %}" class="h-[2rem]">
            <span>dostępność</span>
        </div>
        <div class="flex gap-2 items-center">
            <img src="{% static 'bbi_app/images/footer_mail.svg' %}" class="h-[1.8rem]">
            <span>lokal.wbytomiu@gmail.com</span>
        </div>
        <div>
            <img src="{% static 'bbi_app/images/footer_logos.svg' %}" class="h-[1.5rem]">
        </div>
    </div>
</footer>