{% load static %}
<header class="relative">
    <nav class="flex justify-between items-start gap-4 mt-8">
        <div>
            <a href="{% url 'bbi_app:index' %}" class="inline-block">
                <img src="{% static 'bbi_app/images/logo.svg' %}" alt="Logo" class="w-[2rem] h-[2rem] float-left">
                <span class="flex flex-col leading-none ml-[2.5rem] font-medium">
                    <span>bank</span>
                    <span>pomysłów</span>
                </span>
            </a>
        </div>
        <!-- Desktop Menu -->
        <div class="hidden md:flex gap-10 items-start">
            <a href="{% url 'bbi_app:project_list' %}" class="inline-flex items-center gap-2">
                <img src="{% static 'bbi_app/images/button_browse.svg' %}" alt="Browse button"
                    class="w-[2rem] h-[2rem]">
                <span class="flex flex-col leading-none -mt-1">
                    <span>przeglądaj</span>
                    <span>pomysły</span>
                </span>
            </a>
            <a href="{% url 'bbi_app:add_project' %}" class="inline-flex items-center gap-2">
                <img src="{% static 'bbi_app/images/button_add.svg' %}" alt="Add button" class="w-[2rem] h-[2rem]">
                <span class="flex flex-col leading-none -mt-1">
                    <span>dodaj</span>
                    <span>pomysł</span>
                </span>
            </a>
        </div>
        <!-- Hamburger Button -->
        <div class="md:hidden flex items-center">
            <button id="hamburger-button" class="focus:outline-none z-40 relative">
                <img src="{% static 'bbi_app/images/button_menu_mobile.svg' %}" alt="Menu" class="w-8 h-8">
            </button>
        </div>
    </nav>

    <div id="mobile-menu" class="hidden md:hidden absolute top-0 left-0 right-0 bg-white z-30 pt-24">
        <form method="GET" action="{% url 'bbi_app:project_list' %}" class="flex items-center mb-4">
            <div class="flex flex-1 items-center gap-2 min-w-0">
                <span class="text-3xl font-extralight -mt-1">[</span>
                <input type="text" name="q" placeholder="Znajdź pomysł..."
                    class="flex-1 font-extralight focus:outline-none text-gray-900 bg-transparent min-w-0">
            </div>
            <div class="flex items-center gap-2">
                <button type="submit" class="flex items-center">
                    <span class="">szukaj</span></button>
                    <img src="{% static 'bbi_app/images/button_search_menu_mobile.svg' %}" alt="Search button" class="w-[2rem] h-[2rem]">
                <span class="text-3xl font-extralight -mt-1">]</span>
            </div>
        </form>
        <div class="flex flex-col items-end">
            <a href="{% url 'bbi_app:project_list' %}" class="flex items-center gap-2 py-5">
                <span class="leading-none">przeglądaj pomysły</span>
                <img src="{% static 'bbi_app/images/button_browse.svg' %}" alt="Browse button" class="w-[2rem] h-[2rem]">
                <span class="text-3xl font-extralight -mt-1 text-white">]</span>
            </a>
            <a href="{% url 'bbi_app:add_project' %}" class="flex items-center gap-2 py-5 mb-4">
                <span class="leading-none">dodaj pomysł</span>
                <img src="{% static 'bbi_app/images/button_add.svg' %}" alt="Add button" class="w-[2rem] h-[2rem]">
                <span class="text-3xl font-extralight -mt-1 text-white">]</span>
            </a>
        </div>
    </div>
</header>

<script>
    document.getElementById('hamburger-button').addEventListener('click', function () {
        var mobileMenu = document.getElementById('mobile-menu');
        mobileMenu.classList.toggle('hidden');
    });
</script>