{% extends 'base.html' %}
{% load static %}

{% block title %}bank pomysłów &middot; projekt dodany{% endblock %}

{% block content %}
<main>
  <div class="flex justify-center items-center" style="min-height: 60vh;">
    <div class="w-full max-w-2xl py-6 text-center">
      <h1 class="text-lg font-normal mb-4">Dziękujemy za dodanie projektu!</h1>
      <p class="font-light mb-6">
        Twój projekt został pomyślnie przesłany i oczekuje na weryfikację przez administratora. Pojawi się na stronie głównej po zatwierdzeniu.
      </p>
      <div class="flex justify-center flex-col sm:flex-row gap-4">
        <a href="{% url 'bbi_app:index' %}" class="flex items-center justify-center gap-2 bg-gray-100 p-2 w-full sm:w-auto px-6 hover:bg-gray-200 transition-colors">
          <span class="font-light">wróć na stronę główną</span>
        </a>
        <a href="{% url 'bbi_app:project_list' %}" class="flex items-center justify-center gap-2 bg-gray-100 p-2 w-full sm:w-auto px-6 hover:bg-gray-200 transition-colors">
          <span class="font-light">przejrzyj inne projekty</span>
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap justify-center leading-tight py-8 text-sm">
    {% for tag in tags %}
    <a href="{% url 'bbi_app:project_list' %}?q={{ tag.slug }}"
        class="text-[#21b47E] hover:text-black transition duration-300 leading-tight mr-2">
        #{{ tag.name }}
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}